/*
 * SynergySage2 - CSS2 style sheet
 */

body {
    font: 75% Tahoma, Arial, sans-serif;
    background: White;
    background-image:url(synergy2bg);
    background-repeat:repeat-x;
    color: Black;
    padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
    color: Black;
    clear: left;
    font: 100% Tahoma, Arial, sans-serif;
    margin: 0;
    padding-left: 0.5em;
} 

h1 {
    font-size: 150%;
    border-bottom: none;
    text-align: right;
}
    
h2 {
    font-size: 130%;
}

h3 {
    font-size: 120%;
    padding-left: 1.0em;
}

h4 {
    font-size: 110%;
    padding-left: 1.5em;
}

p {
    text-align: justify;
    line-height: 1.5em;
}

a {
    text-decoration: underline;
	color:#3366CC;
}

code,
blockquote,
pre {
    font-size: 120%;
    padding: 1em;
    border: 1px solid Black;
    color: Black;
    background-color: #dedede;
}

#gallerycomment {
    text-align: center;
}

#rss-desc {
    text-align: left;
	padding:0 0 6px 0;
    font-size: 12px;
}
#rss-title {
    text-align: left;
	padding:0px;
	width:100%;
	text-decoration:none;
	border-bottom:1px #CCC solid;
	font-size:24px;
}
#rss-link {
	text-decoration:none;
	}
.item-pubDate {
    text-align: right;
    padding: 1px;
    font-size: smaller;
}

.item-technorati {
    display: none;
}

li {
    margin-bottom: 1em;
}

div.item-desc {
    margin-bottom: 1em;
	border:1px solid #CCCCCC;
	background-color:#f2f2f2;	
	padding:10px;
	text-align: left;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;	
}

.item {
    margin-bottom: 1em;
	border:1px solid #CCCCCC;
	background-color:#fff;
	padding:2px;
	width:100%;
	text-align: left;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;	
}

.item-title {
	padding:6px;
	color:#3366CC;
	font-size:14px;
	text-align: left;
}